In [1]:
import altair as alt
alt.data_transformers.enable('json')
import pandas as pd
babyNames = pd.read_csv("dpt2020.csv", sep=";")
babyNames.head()

   sexe        preusuel annais dpt  nombre
0     1  _PRENOMS_RARES   1900  02       7
1     1  _PRENOMS_RARES   1900  04       9
2     1  _PRENOMS_RARES   1900  05       8
3     1  _PRENOMS_RARES   1900  06      23
4     1  _PRENOMS_RARES   1900  07       9